/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
ApacheMonitor.exe - 快捷方式.lnk
MySQLNotifier.exe - 快捷方式.lnk